body { /*fond ordinateur CV*/
  background: #008080 fixed;
  width : 100%;
  margin: auto;
}
#header { /*premier bloc-presentation*/
  background: linear-gradient(to left, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  width: 35%;
  height: 350px;
  border: 3px ridge #BAB3BA;
  box-shadow: 1px 1px 2px 1px;
  overflow: auto;
  position: absolute;
  top : 1%;
  right: 3%;
  z-index: 5;
}
h1 { /*petit entête bleue*/
  Background: linear-gradient(to right, #04047C, #040C85, #061B8C, #082895, #09369C, #0A45A2, #0C3FA5, #0C51AE, #0C58B2, #0C68BB, #0B72C2, #0C77C6);
  width: 100%;
  height: 24px;
  border: 18% ridge #04047C;
  font-size: 18px;
  color: white;
  margin-top: -0.1%;
}
#error { /*message d'erreur dans le premier bloc*/
  background: white;
  color: black;
  height: 90px;
  width: 98%;
  border: 1px groove #FAFAFA;
  border: groove white;
  margin-top: -7px;
  align: center;
  font-size: 14px;
}
#center { /*centrage du message d'erreur*/
  position: absolute;
  top: 14%;
  left: 16%;
}
.textMarge { /*marge de la présentation*/
  text-align: left;
  margin-left: 30%;
}
#xp { /*deuxième bloc - l'expérience*/
  background: linear-gradient(to left, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  width: 58%;
  height: 55%;
  border: 3px ridge #BAB3BA;
  box-shadow: 1px 1px 2px 1px;
  overflow: auto;
  position: absolute;
  top: 38%;
  right: 2%;
  z-index: 2;
  font-size: 15px;
  padding-right: -5%;
}
#xp:hover {
  z-index: 5;
}
h2{
  Background: linear-gradient(to right, #04047C, #040C85, #061B8C, #082895, #09369C, #0A45A2, #0C3FA5, #0C51AE, #0C58B2, #0C68BB, #0B72C2, #0C77C6);
  width: 100%;
  height: 24px;
  border: 18% ridge #04047C;
  font-size: 18px;
  color: white;
  margin-top: -1px;
}
#comput { /*troisième bloc - les compétences aquises*/
  background: linear-gradient(to left, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  width: 52%;
  height: 500px;
  border: 3px ridge #BAB3BA;
  box-shadow: 1px 1px 2px 1px;
  overflow: auto;
  position: absolute;
  left: 3%;
  top: 3%;
}
#comput:hover {
  z-index: 4;
}
img {
  width: 100%;
  margin-top: -14px;
  margin-left: -0.1%;
}
img[title="smiley"] {
  height: 40%;
  width: 40%;
  position: absolute;
  top: 45%;
  right: 65.5%;
}
#whiteWindow { /*fenêtre blanche des compétences*/
  background: white;
  width: 98.2%;
  height: 350px;
  border: 1px groove #FAFAFA;
  border: groove white;
  position: absolute;
  top : 20%;
  left: 0.5%;
  overflow: auto;
}
#brain { /*coté gauche de la fenêter des compétences, avec le logo windows*/
  height: 250px;
  width: 25%;
  background: white;
  position: absolute;
}
h3 {
  font-size: 14px;
}
#brain p {
  font-size: 12px;
}
#brain li {
  font-size: 12px;
    margin-left: -16%;
  list-style-type: none;
  text-decoration: underline;
}
#blueLine {
  width: 100%;
  height: 0.5%;
  background: blue;
}
table {
  position: absolute;
  left: 25%;
  font-size: 12px;
}
td {
  width:10%;
  height:70%;
}
#progressWindows { /*fausse barre de progression*/
  width: 60%;
  height: 9px;
  padding-top: 1px;
  background-color: white;
  border: 1px ridge black;
}
#progressWindows:after { /*contenant de la fausse barre de progression*/
    content: '|||||||||||||||';
    display: block;
    width: 30%;
    height: 8px;
    overflow: hidden;
    font: bolder 55px/8px sans-serif;
    color: #050370;
    letter-spacing: -10px;
    margin-left: -4%;
}
#formation { /*quatrième bloc - la formation*/
  background: linear-gradient(to right, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  width: 40%;
  border: 3px ridge #BAB3BA;
  box-shadow: 1px 1px 2px 1px;
  position: absolute;
  bottom: 5%;
  left: 2%;
  z-index: 2;
}
input[title="supress"] { /*boutton supprimer*/
  background: right #BAB3BA;
  color: black;
  position: absolute;
  right: 7%;
  top: 90%;
}
button[title="reduct"] {
  height: 19px;
  width: 19px;
  background: #BAB3BA;
  color: black;
}
button[title="grow"] {
  height: 19px;
  width: 19px;
  background: #BAB3BA;
  color: black;
}
button[title="close"] {
  height: 19px;
  width: 19px;
  background: #BAB3BA;
  color: black;
}
#buttonPlace { /*place des boutons fermer, réduir et agrandir de la première fenêtre*/
  position: absolute;
  top: 0.2ex;
  right: 1%;
}
#buttonComput { /*place des boutons fermer, réduir et agrandir de la première fenêtre*/
  position: absolute;

}
footer { /*menue démarrer*/
  width: 100%;
  height: 27px;
  background: linear-gradient(to left, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  position: absolute;
  bottom: 0px;
}
#openWindow { /*Début de la colone du menu défilant*/
  width: 15%;
  Height: 63%;
  background: linear-gradient(to left, #BCBCBC, #B8BAB8, #BABBBA, #BAB3BA);
  position: absolute;
  bottom: 27px;
  z-index: 6;
  border: 2px outset gray;
  overflow: auto;
}
#bluebar { /*La barre bleue verticale qui se trouve dans le menu*/
  width: 10%;
  height: 100%;
  background: blue;
  position: absolute;
  bottom: 0px;
}
#opacOne { /*les fausses catégories*/
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
}
#opacTwo {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacThree {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacFour {
  margin-left: 11%;
padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacFive {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacSix {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacSeven {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacEight {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
#opacNine {
  margin-left: 11%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-top: -11%;
}
div[title="error318"]:hover { /*Le clignotement bleu*/
  background-color: #03007A;
  color: white;
}
.direction { /*Petite fléchettes. Attention, elles influent sur les padding des opac*/
  text-align: right;
  font-size: 10px;
  margin-top: -10%;
}
#menu { /*boutton menu*/
  color: #4A494F;
  background: right #BAB3BA;
  position: absolute;
  left: 0%;
  height: 99%;
}
#links {
  width: 15%;
  height: 65%;
  border: 2px inset gray;
  position: absolute;
  right: 0.5%;
  bottom: 7%;
}
img[alt="github"] {
  height: 100%;
  width: 10%;
  margin-bottom: -0.9%;
}
img[alt="linkedin"] {
  height: 100%;
  width: 10%;
  margin-bottom: -0.9%;
}
#links span {
  margin-left: 29%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: blue;
}
